{% extends 'base.html.twig' %}

{% block title %}Aptitudes Service Manager{% endblock %}

{% block body %}

    <div class="jumbotron">
        <div class="container">
            <h3 class="display-5">Liste des services ayant besoin d'attention</h3>
            <table class="table table-striped">

                <thead>
                <tr>
                    <th style="width: 33.33%">Entreprise</th>
                    <th style="width: 33.33%">Service</th>
                    <th style="width: 22%">Date de dernière réception</th>
                    <th style="width: 15%">Action</th>
                    <th style="width: 10%">Etat</th>
                </tr>
                </thead>

                <tbody>
                {% for service in warningOrDanger %}
                    <tr>
                        <th scope="row">{{ service.entreprise.nom }}</th>
                        <td>{{ service.nom }}</td>
                        <td>{{ service.updatedate|date("m/d/Y \\a H\\hi") }}</td>
                        <td>
                            <a href="{{ url('details', {'entreprise': service.entreprise.nom|replace({' ': '-'}),
                                'name': service.nom|replace({' ': '-'})}) }}" class="btn btn-light">Détails
                            </a>
                        </td>
                        {% if service.getStatus == 'warning' %}
                            <td><i class="fas fa-circle warning"></i></td>
                        {% endif %}
                        {% if service.getStatus == 'danger' %}
                            <td><i class="fas fa-circle danger"></i></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="container">

            <h3>Liste des entreprises</h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th style="width: 25%">Entreprise</th>
                    <th style="width: 25%">Nombre de services</th>
                    <th style="width: 20%">Date de dernière réception</th>
                    <th style="width: 15%">Action</th>
                    <th style="width: 10%">Etat</th>
                </tr>
                </thead>
                <tbody>

                {% for entreprise in entreprises %}

                <tr>
                    <td>{{ entreprise.nom }}</td>
                    <td>
                        {{ entreprise.getNumberOfServices }}
                        {% if entreprise.getNumberOfServices > 1 %}
                            services
                        {% else %}
                            service
                        {% endif %}
                    </td>
                    <td>{{ entreprise.getDateLastReception|date("m/d/Y") }}</td>
                    <td>
                        <a href="{{ url('services', {'entreprise': entreprise.nom|replace({' ': '-'})})}}" class="btn btn-secondary">
                            <i class="fas fa-list-ul"></i>
                            Services
                        </a>
                    </td>
                    <td>
                        {% if entreprise.getStatus == 'warning' %}
                            <i class="fas fa-circle warning"></i>
                        {% elseif entreprise.getStatus == 'danger' %}
                            <i class="fas fa-circle danger"></i>
                        {% else %}
                            <i class="fas fa-circle okay"></i>
                        {% endif %}
                    </td>
                </tr>

                {% endfor %}
                </tbody>
            </table>
        <hr>
    </div> <!-- /container -->

{% endblock %}
