{% extends 'base.html.twig' %}

{% block title %}Liste des services{% endblock %}

{% block body %}

    <div class="container">
        <h4>Liste des services</h4>
        <ul>
            {% for service in services %}
                <li>{{ service.entreprise.nom }} - {{ service.nom }} - {{ service.getStatus }}</li>
            {% endfor %}
        </ul>

        <h4>Servies danger ou attention</h4>
        <ul>
            {% for service in warningOrDanger %}
                <li>{{ service.entreprise.nom }} - {{ service.nom }} - {{ service.getStatus }}</li>
            {% endfor %}
        </ul>
    </div>




{% endblock %}